{% for product in products %}
<div class="bg-white shadow-md rounded-lg p-4 hover:shadow-xl transition">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-40 object-cover rounded-md">
    <h4 class="text-lg text-black font-semibold mt-2">{{ product.name }}</h4>
    <p class="text-sm text-gray-600 mt-1">{{ product.description|truncatechars:50 }}</p>
    <p class="text-md font-bold text-gray-600 mt-2">Rs <strike>{{ product.market_price }}</strike> &nbsp; <mark>{{ product.selling_price}}</mark></p>
    <a href="{% url 'product_detail' product.id %}" class="mt-2 px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 transition inline-block">
        View Details
    </a>
</div>
{% endfor %}