@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Berkshire+Swash&family=DynaPuff:wght@400..700&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smmoth;
}
.body{
    overflow-x: hidden;
}

.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.slogan{
    font-size: 5rem;
    font-weight: 600;
}
.heroContainer a{
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
    
}
.heroContainer #image1{
    position: absolute;
    bottom: 20px;
    left: -40px;
    height: 220px;
    width: fit-content;
    border-radius: 10px;
    z-index: -11;
}
.heroContainer #image2{
    position: absolute;
    top: 100px;
    right: 40px;
    height: 220px;
    width: fit-content;
    border-radius: 10px;
    z-index: -11;
}


.heroContainer i{
    color: black;
    font-size: 1rem;
    margin-top: 4rem;
    font-weight: 600;
    transform: rotate(270deg);
}

#recommended{
    cursor:grab;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(45deg ,rgba(69, 0, 231, .3), rgba(231, 0, 212, .3));
}

#recently{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(45deg, rgba(231, 0, 212, .5),rgba(69, 0, 231, .5));
}

#shop{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}

#featured{
    font-size: 4rem;
    color: black;
    font-family: "Agbalumo", system-ui;
}
.shopContainer0{
    display: flex;
}
.shopContainer1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
}
.shopContainer2{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 13);
}
.cardContainer ,.cardContainer1 {
    width: 240px;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(36, 36, 36);
}
.cardContainer img, .cardContainer1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.cardContainer h2, .cardContainer1 h2{
    font-weight: 600;
    padding: 4px;
    color: greenyellow;
}

#Fruits, #vegetables{
    font-size: 2rem;
    font-family: "DynaPuff", system-ui;

}

.category-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid transparent;
    background-color: #f3f4f6;
    color: #111827;
    border-radius: 0.375rem;
    transition: all 0.3s ease;
}
.category-btn:hover,
.category-btn.active {
    background-color: #10b981;
    color: #ffffff;
    border-color: #10b981;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }



@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .slogan{
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }   
    .heroContainer #image1{
        position: absolute;
        bottom: 10px;
        left: -40px;
        height: 120px;
        width: fit-content;
        border-radius: 10px;
        z-index: -11;
    }
    .heroContainer #image2{
        position: absolute;
        top: 150px;
        right: 10px;
        height: 150px;
        width: fit-content;
        border-radius: 10px;
        z-index: -11;
    }
    .heroContainer a{
        background-color: black;
        color: white;
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 10px;   
    }
    #recommended{
        width: 100%;
        height: 100%;
        padding: 20px;
        background: linear-gradient(45deg ,rgba(69, 0, 231, .3), rgba(231, 0, 212, .3));
    }
    #card-name{
        font-size: 14px;
    }
    #card-price{
        font-size: 14px;
    }
    #card-button{
        font-size: 1rem;
    }
    
   
 #description{
    display: none;
 } 
 #featured-view-button{
    padding: 4px 8px;
    font-size: 14px;
 }
   
}