{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Grocery Store{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
</head>
<body>

<nav>
    <div class="logocontainer">
        <a id="logo" href="/">
            🛍️ Grocery Store
        </a>
    </div>
    <div class="navlinks">
        <ul class="navlinks-animation">
            <li id="links"><a href="/">Home</a></li>
            <li id="links"><a href="{% url 'recommendations' %}">Recommendations</a></li>
            <li id="links"><a href="{% url 'order_history' %}">Orders</a></li>
        </ul>
    </div>
    <div class="signupContainer">
        <ul>
        
        {% if user.is_authenticated %}
        <li><a id="user" href="#"><i class="fa-solid fa-user"></i> &nbsp; {{ user.username }}</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
        <li><a href="{% url 'view_cart' %}">
            <i class="fa-solid fa-cart-shopping"></i> Cart
            <span id="cart-count">
                {{ cart_count }}
            </span>
        </a></li>
    </ul>
    </div>
</nav>

{% block content %}

{% endblock %}

<footer>
    <div class="footContainer">
        <div class="footer-elements">
            <h1>About</h1>
            <p>A grocery ecommerce website is an online platform that allows customers to browse, select, and purchase groceries from the comfort of their homes, with the option to have their items delivered directly to their doorstep or picked up in-store.</p>
        </div>
        <div class="footer-elements">
            <h1>Important Links</h1>            
            <ul>
                <li id="links"><a href="/">Home</a></li>
                <li id="links"><a href="{% url 'recommendations' %}">Recommendations</a></li>
                <li id="links"><a href="{% url 'order_history' %}">Orders</a></li>
                <li id="links"><a href="{% url 'login' %}">Login</a></li>
                <li id="links"><a href="{% url 'signup' %}">signup</a></li>
            </ul>
        </div>
        <div class="footer-elements">
            <h1>Follow us</h1>            
            <ul>
                <li id="links"><a href="/">Facebook</a></li>
                <li id="links"><a href="{% url 'recommendations' %}">Instagram</a></li>
                <li id="links"><a href="{% url 'order_history' %}">Twitter</a></li>
                <li id="links"><a href="{% url 'login' %}">Contact Us</a></li>
                <li id="links"><a href="{% url 'signup' %}">Feedback</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright"> Copyright 2025 Grocery eCommerce Website 
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/ScrollToPlugin.min.js" integrity="sha512-MNrfXoNkJk0uGej2yCbkXsZBIokOU5Fdjiv6ThF3UCH2zbkeMBtL6uHbH+1sdY/58BOh4bRKxBbyFPcKk8I1KA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static '/js/animation.js' %}"></script>
</body>
</html>
